.evolution {
  .evolution-group {
    margin: 0 0 1em 0;
    overflow: visible;
    clear: both;

    .label {
      display: inline-block;
      float: left;
      line-height: 3.45em;
      padding: 0 21px 0 0;
      min-width: 40px;
      text-align: left;
      font-size: 14px;
    }
    .value {
      display: inline-block;
      border-radius: 2px;
      line-height: 3em;
      width: 130px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: visible;
      position: relative;
      span {
        font-weight: normal;
        color: rgba(0, 0, 0, 0.5);
      }
      svg {
        position: absolute;
        top: -7px;
        right: -7px;
        z-index: 10;
        &.fa-arrow-circle-up {
          background: #fff;
          path {
            color: #5fba7d;
          }
        }
        &.fa-arrow-circle-down {
          background: #fff;
          path {
            color: #f4645f;
          }
        }
      }
    }
  }
}