@import 'grid';
@import 'typography';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7fafc;
}

.box {
  padding: 20px 40px 40px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.10);
  -moz-box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.10);
  box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.10);
  //margin-top: -30px;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;
  position: relative;
  &.loading {
    opacity: 0;
    transform: translateX(30px);
  }
  &.ready {
    opacity: 1;
    transform: translateX(0px);
  }
}

div.select {
  margin-bottom: 0;
  background: #ffffff;
  > div {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    > div {
      padding: 9px 8px;
    }
  }
}

.github-corner {
  position: fixed;
  z-index: 30;
  right: 0;
}

.currency-chooser {
  &.box {
    padding: 20px;
  }
  .flag-icon {

  }
}