.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}
.logo h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    position: relative;
    display: block;
}
.logo h1::after {
    content: '';
    width: 15%;
    bottom: -10px;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
}
