.logo {
  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    position: relative;
    display: block;
    margin: 30px auto 0;
    display: inline-block;
    &:after {
      content: '';
      width: 20%;
      bottom: -10px;
      height: 2px;
      display: block;
      background: #fff;
      position: absolute;
      left: 0%;
    }
  }
}