body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  color: rgba(255, 255, 255, .8);
}

.chart.line-chart {
    background: linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat,#fff;
}